body { 
    background-color : #EFEFEF;
}

.dash-grid {
    display : grid;
    grid-template-columns : repeat(6, 1fr);
    gap : 1em;
    align-items : center;
    margin : 3em;
}

h1 {
    margin: 0;

    font-family : 'DM Sans';
    font-weight : 900;
    font-size : 72px;

    grid-row: 1;
    grid-column: 2 / 7;
}

h2 {
    margin : 0;
    
    font-family : 'DM Sans';
    font-weight: 700;
    font-size: 24px;

    grid-row : 2;
    grid-column : 2 / 7;
}

.song-card {
    grid-row : 3;
    grid-column: span 1;
    width: 100%;
    height: auto;

    font-family: 'Source Code Pro';
}

.song-title{
    font-weight: 700;
}

.song-artist {
    font-weight: 400px;
}

.album-art {
    width: inherit;
    border-radius: 2%;
}

.wobble {
    animation-name: wobble;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    padding: 0;
    margin: 0;
}

@keyframes wobble {
    0% { transform: translate(0, 0px); }
    33% { transform: translate(0, 3px); }
    66% {transform: translate(0, -3px); }
    100% { transform: translate(0, 0px); }
}




.profile-blob {
    width : 150px;
    height : 150px;

    border-radius : 50%;
    overflow : hidden;
    animation : blobAnimation 5s infinite;

    grid-row: 1;
    grid-column: 1 / 2;

    place-self: center;

    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
}

.profile-blob img {
    width : 101%;
    height : 101%;
    object-fit : cover; /* ensure img fits within blob */
}

.shimmer { 
    animation : textShimmer 10s infinite ease-in-out;
    text-decoration : underline;
    text-decoration-style : wavy;
    text-underline-offset: 0.2em;
}

@keyframes textShimmer {
    0% { color : #1e90ff; }
    25% { color: #1eb6ff }
    50% { color: #1e90ff; }
    75% { color: #1e6bff; }
    100% { color: #1e90ff; }
}

@keyframes blobAnimation {
    0% {
        border-radius : 50%;
    }
    25% {
        border-radius : 40% 60% 50% 70%;
    }
    50% {
        border-radius : 60% 80% 70% 40%;

    }
    75% {
        border-radius : 30% 60% 60% 50%;
    }
    100% {
        border-radius : 50%;
    }
}
