body {
     background-image: linear-gradient(90deg, #1DB954, #1DA080);
     background-size: auto;
     height: 100vw 200;
}

h1 {
     font-family: proxima-nova;
     font-weight: 800;
     font-size: 48px;
     color: whitesmoke;
     text-align: center;
     padding: 0.25em;
}

ul {
     list-style-type: none;
     width: 75vw;
}

li {
     outline-style: auto;
     outline-color: whitesmoke;
     margin-bottom: 10px;
     padding: 1em;
     border-radius: 20px;
}

a, a:visited {
     text-decoration: none;
     color: whitesmoke;
     font-family: proxima-nova, sans-serif;
     font-size: 24px;
}