{% extends "base.html" %}

{% block content %}

<div class="dash-grid">
    <div class="profile-blob">
        {% if user_info['images'] %}
            <img src="{{ user_info['images'][0]['url'] }}" alt="pfp">
        {% else %}
            <img src="https://img.freepik.com/premium-photo/colorful-spiral-galaxy-with-stars-bright-light-generative-ai_902846-37059.jpg" alt="pfp">
        {% endif %}
    </div>
   
    
        
    <h1>hi <span class="shimmer">{{ user_info['display_name'] }}</span></h1>

    <div class="spacer"></div>
    <h2>Your top tracks</h3>

    <div class="song-card blank"></div>
    {% for track in top_tracks %}
        <div class="song-card">
            <img src="{{ track['album']['images'][0]['url'] }}" alt="{{ track['name'] }}" class="album-art wobble">
            <br>
            <span class="song-title">{{ track['name'] }}</span> <br>
            <span class="song-artist">{{ track['artists'][0]['name'] }}</span>
        </div>
    {% endfor %}

        <!-- 
        
        {% for track in top_tracks %}
            <div class="song-card">
                <img src="{{ track['album']['images'][0]['url'] }}" alt="{{ track['name'] }}" class="album-art">
                <h3>{{ track['name'] }}</h3>
                <p>{{ track['artists'][0]['name'] }}</p>
            </div>
        {% endfor %}
        -->
    </div>
    
</div>



<script src="{{ url_for('static', filename='js/blob.js') }}"></script>
{% endblock %}