<!DOCTYPE html>
<html lang="en">
     <head>
          <meta charset="UTF-8">
          <meta name="viewport" content="width=device-width, initial-scale=1.0">

          <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
          <link rel="stylesheet" href="https://use.typekit.net/oak0mrv.css">
          <style>@import url("./static/css/style.css");</style>

          <title>spotifyparty - home</title>
     </head>
     <body>
          <h1>spotifyparty</h1>

          <script src="https://d3js.org/d3.v6.js"></script>
          <script src="./static/js/playlist.js"></script>
     </body>
</html>